.nav {
  height: 67px;
  display: flex;
  align-items: center;

  &__logo {
    height: 40px;
  }

  & .ms-auto > * {
    margin: 0 20px;
    color: #f8f8f8;
  }

  &__toggle {
    color: rgba(82, 82, 82, 0);
  }

  &__collapse.show {
    background-color: rgba(0, 0, 0, 0.9);

  }
}
